<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='true'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class="navbar-brand" href="#/">Sunny Hills-Palladium</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/">Home</a></li>
        <li><a href="#/about-us">About Us</a></li>
        <li><a href="#/our-properties">Our Properties</a></li> 
        <li><a href="#/find-a-property">Find A Space</a></li>
        <li class="active"><a href="#/contact-us">Contact Us</a></li> 
      </ul>
  </div>
  </div>
</nav>

<div class='content-section-b'>
    <div class='container'>
      <div class='row'>
          <div class='col-sm-9'>
            <div class='spacing'>
              <hr class='section-heading-spacer'>
              <div class = 'clearfix'></div>
              <h2 class='section-heading'>Contact Us</h2>
              <div class='contact'>
                <h4>Pasadena / Indland Empire West:</h4>
                <p>Property Manager/Leasing Agent: Eva Kwok</p>
                <p>2500 E. Foothill Blvd, Suite 509</p>
                <p>Pasadena, CA 91107</p>
                <p>Phone: 626-304-0310</p>
                <p>Fax: 626-304-0315</p>
              </div>
              <div class='contact'>
                <h4>Inland Empire:</h4>
                <p>Property Manager/Leasing Agent: Jamie Johnson</p>
                <p>225 W. Hospitality Lane, Suite 206</p>
                <p>San Bernardino, CA 92408</p>
                <p>Phone: 909-890-1226</p>
                <p>Fax: 909-890-3630</p>
              </div>
              <div class='contact'>
                <h4>South Bay Portfolio:</h4>
                <p>Property Manager/Leasing Agent: Dwight Everest</p>
                <p>15901 Hawthorne Blvd, Suite 332</p>
                <p>Lawndale, CA 90260</p>
                <p>Phone: 310-542-2303</p>
                <p>Fax: 310-542-2314</p>
              </div>
              <div class='contact'>
                <h4>Long Beach Portfolio:</h4>
                <p>Property Manager/Leasing Agent: Paul Justice</p>
                <p>3605 Long Becah Blvd, Suite 450</p>
                <p>Long Beach, CA 90807</p>
                <p>Phone:562-997-8897</p>
                <p>Fax: 562-997-8907</p>
              </div>
              <div class='contact'>
                <h4>Orange County North:</h4>
                <p>Property Manager/Leasing Agent: Jennifer Lovelace</p>
                <p>1661 N. Raymond Ave, Suite 130</p>
                <p>Anaheim, CA 92801</p>
                <p>Phone: 714-680-8300</p>
                <p>Fax: 714-680-8341</p>
              </div>
              <div class='contact'>
                <h4>Orange County:</h4>
                <p>Property Manager/Leasing Agent: Brian Plotkin</p>
                <p>6131 Orangethorpe Ave, Suite 330</p>
                <p>Buena Park, CA 90620</p>
                <p>Phone: 714-523-7116</p>
                <p>Fax: 714-523-8119</p>
              </div>
              <div class='contact'>
                <h4>Orange County South:</h4>
                <p>Property Manager/Leasing Agent: Brandon Evans</p>
                <p>660 W. Santa Ana Blvd, Suite 800</p>
                <p>Santa Ana, CA 92701</p>
                <p>Phone: 714-550-1126</p>
                <p>Fax: 714-972-0616</p>
              </div>
              <div class='contact'>
                <h4>Senior Living and Apartments:</h4>
                <p>Property Manager/Leasing Agent: James Bender</p>
                <p>3360 Magnolia Ave</p>
                <p>Long Beach, CA 90806</p>
                <p>Phone: 562-595-1559</p>
                <p>Fax: 562-427-2280</p>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
<footer>
  <div class ='container'>
    <div class='row'>
      <div class='col-lg-12'>
        <ul class='list-inline'>
          <li>
            <a href="/">Home</a>
          </li>
          <li class='footer-menu-divider'>.</li>
          <li>
            <a href="#/about-us">About Us</a>
          </li>
          <li class='footer-menu-divider'>.</li>
          <li>
            <a href="#/our-properties">Our Properties</a>
          </li>
          <li class='footer-menu-divider'>.</li>
          <li>
            <a href="#/find-a-property">Find a Property</a>
          </li>
          <li class='footer-menu-divider'>.</li>
          <li>
            <a href="#/contact-us">Contact</a>
          </li>
        </ul>
        <p class='copyright text-muted small'>
          © Sunny Hill Palladium, LLC (SHP)
        </p>
      </div>
    </div>
  </div>
</footer>