<div ng-controller='userController'>	
    <div id="header">
      <h1><a href="dashboard.html">Matrix Admin</a></h1>
    </div>
    <!--close-Header-part--> 


    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
      <ul class="nav">
        <li  class="" id="profile-messages" ><a title=""><i class="icon icon-user"></i>  <span class="text">Welcome <span ng-bind= 'currentUser.username' ></span></span><b class="caret"></b></a>
        </li>
        <li class=""><a title="" href="/logout"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
      </ul>
    </div>
    <!--close-top-Header-menu-->
    <!--sidebar-menu-->
    <div id="sidebar"><a href="" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
      <ul>
        <li class="submenu"><a href="admin#/dashboard"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
        <li class="submenu"> <a href="admin#/users"><i class="icon icon-user"></i> <span>Manage Users</span></a>
        </li>
        <li class="submenu"> <a href="admin#/properties"><i class="icon icon-pencil"></i> <span>Manage Properties</span></a>
        </li>
        <li class="active"> <a href="admin#/images"><i class="icon icon-file"></i> <span>Manage Images</span></a>
        </li>
      </ul>
    </div>
    <!--sidebar-menu-->

    <!--main-container-part-->
    <div id="content">
    <!--breadcrumbs-->
      <div id="content-header">
        <div id="breadcrumb"> <a href="admin#/dashboard" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
      </div>
    <!--End-breadcrumbs-->
    <div class="row-fluid">
        <div class="span12">
         <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
              <h5>Image Upload</h5>
            </div>
            <div class="widget-content nopadding">
              <form method='post' action='upload' enctype="multipart/form-data" class="form-horizontal">
                <div class="control-group">
                  <label class="control-label">Upload & Replace Image</label>
                  <div class="controls">
                    <input type='file' name='fileUploaded' class='span11'>
                    <input type='submit' class='btn-success btn-mini'>
                    <span class="help-block">Give the new image the same name and file type as the one you want to replace.</span> 
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>